// Variables. Root level

// Fonts

$base-font-family: "Quicksand", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', Arial, sans-serif; 

// Colors

$base-color: #3c4043;
$blue-gem: #351d9f;
$crayon-yellow: #ffec6f;
$mona-lisa: #ffa196;